// 1
import _ from ‘lodash’;
// 2
import { concat, sortBy, map, sample } from ‘lodash’;
// 3
import concat from ‘lodash/concat’;
import sortBy from ‘lodash/sortBy’;
import map from ‘lodash/map’;
import sample from ‘lodash/sample’;

