l=i.default.createClass({displayName:"InfoButton",

propTypes:{className:i.default.PropTypes.string,clickHandler:
i.default.PropTypes.func.isRequired,
desktopText:i.default.PropTypes.string.isRequired,
mobileText:i.default.PropTypes.string.isRequired},

getClasses:function(){return(0,o.default)("button",this.props.className)},render
:function(){return i.default.createElement("button",
{className:this.getClasses(),onClick:this.props.clickHandler},
i.default.createElement("span",{className:"desktop"},
this.props.desktopText),i.default.createElement
("span",{className:"mobile"},this.props.mobileText))}});t.default=l}